
  <h1>{{title}}</h1>
  <p>Think carefully! They're are delicious, but impossible to predict!</p>
  <div class="picHolder">
    <div class="curtain"></div>
    <img id="imgInsert" src="http://25.media.tumblr.com/tumblr_m7cip7oZWe1rr6cyuo1_500.gif" alt="Bat-think!">
  </div>
  <div class="container">
    <button id="YES">I do! I do want some gummy bears!</button>
    <button id="NO">My body is not ready.</button>
  </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/javascripts/my.js"></script>
